{% extends 'base.html.twig' %}
{% block title %}Kontaktai{% endblock %}
{% block body %}
    <div class="card w-25 mt-3" >
        <div class="card-block">
            <h3 class="card-title text-center">Kontaktai</h3>
            <p class="text-center">Živilė Šakienė<br>
            El. paštas zuvisETAxxx.lt <br> 2017</p>

        </div>
    </div>

{% block footer %}{% endblock %}
{% endblock %}
